:root {
  --main-color: #4fc08d;
  --main-color: #40b3ff;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: large;
}

body {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

header {
  text-align: center;
  /* position: absolute; */
  /* margin-top: -80vh; */
  margin-top: -5vh;
  margin-bottom: 5vh;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 500px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
}

section:hover {
  box-shadow: 0 0 50px rgba(1, 1, 1, 0.479);
}

section > div {
  display: flex;
  height: 2em;
  padding: 1em;
}

button {
  border-radius: 2em;
  background-color: transparent;
  border: 1px solid var(--main-color);
  cursor: pointer;
  font-weight: 600;
  color: var(--main-color);
}

button:hover {
  background-color: var(--main-color);
  color: white;
}

.btn-add {
  flex-grow: 1;
}

input {
  background-color: transparent;
  font-size: 16px;
  font-weight: 510;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
}
input:focus {
  outline: none;
}

.input-name {
  border: 0;
  font-size: 34px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.input-todo {
  border: 1px solid #cacaca;
  border-radius: 2em;
  flex-grow: 8;
  margin-right: 0.5em;
  padding-left: 0.7em;
}

li > input {
  border: 0;
  width: 78%;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > h3 {
  text-align: center;
  color: gray;
}

li > button {
  margin: 0 3px;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.crud {
  margin-top: auto;
}

.crud > button {
  flex-grow: 1;
  margin: 0 5px;
}

[isCompleted="true"] {
  text-decoration: line-through;
  color: gray;
}
